
<div id="contentToConvert">
<p>{{dataProduct.name}}</p>
<p>{{dataProduct.date | date: 'dd/MM HH:mm'}}</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae nobis sunt incidunt earum, non expedita maiores impedit quas eum qui quia, optio nisi pariatur placeat explicabo officiis sit saepe est officia natus assumenda amet dolorum quam. Numquam deserunt sint velit qui, perferendis consectetur placeat voluptatum corrupti ad tenetur labore consequatur quas dolores fugit vel, aliquid alias quisquam ratione deleniti expedita quia iusto commodi. Asperiores voluptas sed aut possimus, alias iste? Iusto harum aliquid labore aspernatur, veniam ex quas enim corporis corrupti eum expedita ipsam reiciendis qui odio eveniet explicabo
    
<p>{{dataProduct.adress}}</p>
<p>{{dataProduct.total}}</p>
</div>
<div>
    <input type="button"  class="btn btn-success" value="pdf" (click)="convetTo()"/>
    </div>