<button     class="btn btn-outline-primary btn-sm btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">add client</button>

 
    <div class="body"  >

    
        <table class="table" >
         <thead class="table-dark">
    <tr class="text-center">
      <th scope="col">flName</th>
      <th scope="col">email</th>
      <th scope="col">role</th>
      <th scope="col">adresse</th>
      
      <th scope="col" colspan="3">options</th>
    </tr>
  </thead>
    <tbody  *ngFor="let item of dataArray" >
            
                    <tr>
                      <td><h5 class="card-title">{{item.flName}}</h5></td>
                    
                      <td><p class="card-text">{{item.email}}</p></td>  
                      <td><p class="card-text">{{item.role}}</p></td>
                      <td><p class="card-text">{{item.adresse}}</p></td>
                      <td><p class="card-text">{{item.password}}</p></td>
                      
                            <td><span class="text-save" style="cursor: pointer;"><i class="fas fa-pen-square"(click)="updatec(item.id)"></i></span>
                     </td>
<td>
  <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash" (click)="delete(item.id)"></i></span>
                    </td>
                    </tr>
    </tbody>
                  </table> 
    </div>
      
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">add client</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form #f="ngForm" (ngSubmit)="addNewuser(f)" width="70px" height="60px">
                    <input type="text" class="form-control" name="flName" ngModel placeholder="flName" required>
                    <input type="text" class="form-control" name="email" ngModel placeholder="email" required>
                    <input type="text" class="form-control" name="role" ngModel placeholder="role" required>
                    <input type="text" class="form-control" name="adress" ngModel placeholder="adress" required>
                    
                    <input type="text" class="form-control" name="password" ngModel placeholder="password" required>
                   
                    <input type="submit" value="Add" class="btn btn-primary" [disabled]="f.invalid">
                  </form>
                </div>
                   
    </div>
  </div>
             
  
    
   