
<div>
 
    </div>

<table
class="table"
style="text-align:center"
  id="contentToConvert"
>
<thead class="table-dark" >
    <tr class="text-center">
    <th>Name</th>
    
    <th>date</th>
    <th>option</th>
   </tr>
 
</thead>
<tbody *ngFor="let h of l">

   <tr *ngIf="keyParams==h.uid">
    
    <td >{{h.name}}</td>
    
    <td>{{h.date.toDate() | date: 'dd/MM HH:mm'}}</td>
   <td> <button  type="button" class="btn btn-primary"  (click)="activate(h.id)">invoice</button> 
   </td></tr>
   
      
</tbody>
</table>  
