
<script src="https://js.stripe.com/v3"></script>
<div class="body">
   
  <p >{{ts}}</p>

    <table id="table"
        class="table"
        style="text-align:center"
    >
        <thead class="table-dark">
            <tr class="text-center">
            <th>Name</th>
            <th>Price</th>
            
            <th>qte</th>
            <th>Total</th>
           
            <th>Options</th>
            </tr>
        </thead>
        
        <tbody   *ngIf="m==lp">
           
            <tr *ngFor="let g of fm; index as i">
               
                <td>{{g.title }}</td>
                <td>
                <div *ngIf="g.np==0">
                {{g.price }}
                </div>
                <div *ngIf="g.np!=0">
                    {{g.np }}
                    </div>
                    </td>
                <td>
                <input class="form-control" type="number" placeholder="qte" [(ngModel)]="g.qte">
                    
                </td>
                
<td>
                    <div *ngIf="g.np==0">
                {{(g.price * g.qte) }}
                    </div>
                    
                    <div *ngIf="g.np!=0">
                        {{(g.np * g.qte) }}
                        </div>
                </td>
             
               
                <td>

                    <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"
                    
                        (click)="delete(i)"
                    >
                    </i></span>&nbsp;
                    <span class="text-save" style="cursor: pointer;"><i class="fas fa-pen-square"
                        
                        (click)="update(i)"
                    >
                        </i></span>
                </td>
                
            </tr>
            
            <tr>
                <td colspan="3">montant Total</td>
                <td>{{t}}</td>
                <td >
                  

                   <div *ngIf="isV;">
                    <button type="button" id="checkout-button"
                    class="btn btn-info"
                 (click)="confirm()" 
                
                >
        confirm
                </button></div>

              
               
                </td>
                <td>
                    <button    class="btn btn-danger btn pull-right" (click)="delet()">delete</button>
                </td>
                
            </tr>
            
        
        </tbody>
    
    </table>
    
 
</div>

